@import url("font-awesome/css/font-awesome.css");
body {

    background-color: #fff;
    color: #333;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

}

p*{

  font-size: 15px;
}


.container{
width: 100% !important;
height: 100% !important;
border: 2px soild #0015;

}


.header{
width: 100%;
border: 2px soild #fff3;
position: absolute;

}

.logo{
  width:95px;
  margin:20px 0px 0px 30px;
	border:0px solid #ff1;
  position: absolute;

}


.upside{
 width:400px;
 border:0px solid #ff2;
 float:right;
 position: relative;
}

.upside .btn-holder{
 position:absolute;
 float: left;
 margin:40px 5px 0px 5px;
text-align: center;
 left:50%;

}

.signup-btn{
  background-color:#3eb991;
   border: 2px solid #3eb991;
   border-radius:5px;
   color:white;
   padding:5px 10px 10px 5px;
   margin-left: 10px;

}

.signin-btn{
 border:none;
 color:white;
 background-color:#4c469d;

}


.left-side{
	width:450px;
  margin-top: 140px;
	border:px solid #ff2;
	position: relative;
	margin-left:30px;
}


.get-started-btn{
	background-color:#06d79d;
	  border: 2px solid #06d79d;
	  border-radius:5px;
	  color:white;
	  padding:10px 40px 10px 40px;
	  margin-top:20px;
}





.hold-content{
width:100%;
border: 0px solid #0015;
position: static;

}


.main-content::before {
    content: '';
    position: absolute;
    height: 300px;
    background-color:hsl(106, 0%, 96%);
    width: 100%;
    z-index: -1;
    transform: rotate(35deg) skewY(-28deg) scaleY(1.6);
    border-radius: 30px;
	margin-top:40px;
}


.main-content{
	width:100%;
	height: 350px;
	border:0px solid #0015;
	margin-top:100px;

}

.main-content h3{
	text-align:center;

}

.main-content p{
	text-align:center;
}


.small-box{
	width:300px;
	height:300px;
	border:0px solid #0015;
	margin-left:120px;
	margin-top: 30px;
	float:left;
	text-align:center;

}




.more-info{
	width:100%;
	border:0px solid #0015;
	position:absolute;

}

.more-info h3{
	color:#060631;

}

.cub{

	width:350px;
	border:0px solid #ff2;

	position:absolute;
	margin-top:100px;

	margin-left:30px;
	float:left;
}


.app-info{
	width:800px;
	border:0px solid #ff4;
	float:right;
	position: relative;
}

.app-box{
width:200px;
height:250px;
border: 1px solid #0015;
float: left;
margin-left:10px;
margin-top: 30px;
box-shadow: 2px 2px rgba(0, 0, 1, 0.2);
padding: 10px;
}


.app-box-middle{
  width:200px;
  height:250px;
  border: 1px solid #0015;
  float: left;
  margin-left:10px;
  margin-top: 30px;
  box-shadow: 2px 2px rgba(0, 0, 1, 0.2);
  transform: translateY(-20px);
padding: 10px;
}

.app-info h2{
  text-align: center;
  border-bottom: 2px solid #0015;
}

.app-info h3{
  text-align: center;
  color: #060631;
}

.app-info p{
text-align: center;
word-wrap: break-word;
}

.end{
width: 100%;
text-align: center;
border: 0px solid #0015;
margin-top: 650px;
}

.end h3{
  color:#060631;
}

.footer{
width:100%;
height: 400px;
border: 2px solid #0015;
background-color: #07043b;

}


.footer-left{
  width:450px;
  height:300px;
  margin-top:20px;
  border:0px solid #ff2;
  position: absolute;
  margin-left:30px;
  float:left;
}

.footer-left p{
margin-top: 70px;
margin-left: 30px;
color:white;


}

input[type=text]{
margin-left: 30px;
border-radius: 5px;
padding: 10px 40px 6px 50px;
float: left;


}

.join-btn{
	background-color:#06d79d;
	  border: 2px solid #06d79d;
	  border-radius:5px;
	  color:white;
	  padding:10px 50px 6px 60px;
    margin-left: 10px;
}

.contact{
width:350px;
height: 100px;
border: 0px solid #0015;
margin-left: 30px;

}

.ib{
width: 30px;
height: 30px;
border: 0px solid #fff4;
float: left;

}


.cb{
width:200px;
height: 30px;
border: 0px solid #fff4;

}

.cb i{
color: white;

}

.footer-right{
width: 800px;
height: 500px;
border: 0px solid #fff4;
float: right;

}



.bb{
width: 250px;
height: 300px;
border: 0px solid #fff5;
float: left;
margin-left: 5px;
margin-top: 20px;

}

.bb h3{
color: white;
margin-left:40px;
text-decoration: none;

}

ul{
 list-style-type: none;
 color: white;

}

li a{
text-decoration: none;
color: white;

}
ul li{
  line-height: 200%;
}
